* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: aliceblue;
}
body::-webkit-scrollbar{
  display: none;
}
.sideSpace{
  
  min-height: 100vh;
  padding: 0rem 8vw;
}
@font-face {
  font-family: Gilroy-Light;
  src: url(./assets/gilroy/Gilroy-Light.ttf) format('truetype');
}

@font-face {
  font-family: Gilroy-Medium;
  src: url(./assets/gilroy/Gilroy-Medium.ttf) format('truetype');
}

@font-face {
  font-family: Gilroy-Regular;
  src: url(./assets/gilroy/Gilroy-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Gilroy-SemiBold;
  src: url(./assets/gilroy/Gilroy-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(./assets/gilroy/Gilroy-Bold.ttf) format('truetype');
}

@font-face {
  font-family: Gilroy-Thin;
  src: url(./assets/gilroy/Gilroy-Thin.ttf) format('truetype');
}

@font-face {
  font-family: Gilroy-UltraLight;
  src: url(./assets/gilroy/Gilroy-UltraLight.ttf) format('truetype');
}

:root {
  --text-color: #636cfa;
  --p-color:#9fa19e;
  --light-font: 'Gilroy-Light', Gilroy;
  --Medium-font: 'Gilroy-Medium', Gilroy;
  --Regular-font: 'Gilroy-Regular', Gilroy;
  --SemiBold-font: 'Gilroy-SemiBold', Gilroy;
  --Bold-font: 'Gilroy-Bold', Gilroy;
  --Thin-font: 'Gilroy-Thin', Gilroy;
  --UltraLight-font: 'Gilroy-UltraLight', Gilroy;
}
p{
  font-size:1rem;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: var(--p-color);
  font-family: var(--SemiBold-font);
}
h2{
  font-size: 2rem;
  font-family: var(--SemiBold-font);
  word-spacing: 2px;
}

footer{
  margin-top: auto;
  width: 100%;
  background-color: var(--text-color);
  padding: 1.1rem 0rem;
  position: sticky;
  bottom: 0;
  
}
footer p{
  color:white;
  text-align: center;
}
.grid{
  display: grid;
  grid-template-columns: auto auto;
}

@media (max-width:978px){
  .grid{
    grid-template-columns: auto;
  }
}

.d-none{
  display: none;
}
.d-block{
  display: block;
}

.loader{
  font-size: 3rem;
  color: var(--text-color);
  height: 81vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadicon{
  animation: loding 2s linear infinite ;

}
@keyframes loding{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

